<%= provide(:description, 'This page is about writer, hypnotherapist, teacher, translator, editor, and proofreader Hillary Keel') %>  
<%= provide(:keywords, 'hypnotherapy, poetry, translation, language training, German') %>

<div class="row">
  <div class="col-md-7">
  <header>
  <h2><%= provide(:title, 'About Me') %>Über mich</h2>
  </header>
  <p>MFA in Kreativem Schreiben an der Jack Kerouac School of Disembodied Poetics an der Naropa University in Boulder, Colorado, USA (Frühling 2012), BA in Deutsch/Englisch am Washington College (jetztige Universität) in Fredericksburg, Virginia (1982), Deutsch, Französisch und Englisch am Institut für Übersetzer- und 
Dolmetscher Training (jetztiges Zentrum für Übersetzungswissenschaften) der Universität Wien (1984-1985); Seminar für FremdsprachlehrerInnen in Waldorfschulen in Nürnberg, Deutschland (1994-1995), Seminare mit der ÜbersetzerInnengemeinschaft in Wien und der schule für dichtung in Wien.</p>

  <p>Weiters von der Internationalen Vereinigung der BeraterInnen und TherapeutInnen zertifizierte Hypnotikerin (seit 2015), ausgebildet von <a href="https://www.mindbodystudies.com">Kristin Prevallet</a> in Hastings on Hudson, NY, Ebenso: Die Kunst des Channelings - Praktizierende, ausgebildet von <a href="https://channeling-healing.com">Rhiannon Augenthaler</a> in Wien, Österreich (2008).</p>

  <p>Geboren und aufgewachsen in den USA, setze ich nach vielen Jahren in der deutschsprachigen Welt meine meditative und künstlerische Arbeit in den USA fort, indem ich mich mit Heilung und Trance befasse, Sprache und Fremdsprachen, Poesie und Prosa erkunde.</p> 
  <p></p> 
  </div>  
  <div class="col-md-4 pull-right">
    <h1>&nbsp;</h1>
      <%= image_tag "hk-8.jpg", class:"mid" %> 
      <p class="muted credit">Photo: <i>In a Parisian Cafe</i><br>by Sophie Gertrude Strohmeier-Keel</p>
      <p><strong><a href="/assets/cv-hillary-18-r.pdf" target="_blank">CV (PDF)</a></strong></p>
  </div>
</div>