
<div class="row">
  <div class="center">
  <header>
  <h2><%= provide(:title, 'Privacy') %>Privacy Policy</h2>
  </header>
</div></div>
<div class="row">
  <div class="col-md-7">
    <h3>How we use cookies at hillarykeel.com</h3>
    <p>To make it quicker and easier for your language preference to persist as you move through the pages of our website, we use cookies to collect and remember your choice. 
    We do not sell, trade, or otherwise transfer that informations. This policy does not include the platform on which we operate our website. You may view their policy <a href="https://www.heroku.com/policy/security">here</a>.</p><p>By continuing to use the website hillarykeel.com, you agree to our use of cookies. If you don't agree, but you still want to visit our website, you can turn off the cookies in your browser settings.</p>
  </div>

  <div class="col-md-5 pull-right">
  <h3>How to control your cookies</h3>
  <p>Most internet browsers automatically accept cookies, but you can delete existing cookies from your browser and choose not to receive cookies in future. You just need to edit your browser options.
Please note that, if you reject cookies, the functionality of hillarykeel.com will not fully work. To find out how to delete or control the cookies stored on your computer, visit <a href="https://www.aboutcookies.org">about cookies.org</a></p>
</div></div>