// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* universal */
html, body {height: 100%}

body {padding-top: 0;}

.hero-unit {
  padding: 0;
  background-color: #fcffef;
  color: #000066;
  margin-bottom: 0;
}

/*@import "bootstrap-responsive";*/

#hero { 
  color: #000066;
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 4em;  
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -60px;
}
#push, #footer {
  height: 60px;
}
img {
  border: 12px whiteSmoke solid;
  outline: 1px #e3e3e3;
  border-radius: 5px;
  max-width: 100%;
  }
.poem img {margin-top: 0;}
.hero-unit img {
  border: none;
  outline: none;
  margin-top: 130px;
}
.tagline {
  width: 320px;
  margin: 20px auto;
  }
.well {padding: 20px 0 0 0;}
/* typography */
h1 {
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
  letter-spacing: -2px;
  text-align: center;
  color: #000066;
}

h2, h3, h4, h5, h6, p, li {
  font-family: Georgia, Garamond, "Times New Roman", serif;
  color: #000066;
}
.navbar .nav li a {
  color: #08C;
  font-size: 1.2em;
  letter-spacing: .06em;
  padding: 10px 30px 10px;
  font-weight: bold;
  &:hover {
    color: #000066;
  }
}
h4 {
  font-size: 1.3em;
  letter-spacing: .05em;
}
h2 {  
  letter-spacing: .06em;
  padding: 100px 0 50px;
  color: #000066;
  font-weight: bold;
}
p {
  font-size: 1.2em;
  letter-spacing: .06em;
  line-height: 1.7em;
  text-align: justify;
}

.lead {
  text-align: center;
}

.center {
  text-align: center;
}

/* header */

.logo {
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
  padding-top: 9px;
}

#logo {
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif; 
  display: inline-block;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000066;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 30px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  color: #08C;
  text-decoration: none;
  }
}
.nav.pull-right {padding-right: 20px}

#footer p {
  text-align: center;
  /*text-indent: 3em;*/
  margin-bottom: 2px;
  /*&:nth-child(even) {
    text-indent: 5em; 
  } */    
}

h4 { font-size: 1.5em; }
.fig {
  padding-bottom: 10px; 
  img {margin-top: 10px}
}
blockquote {
  padding: 0;
  p:first-child { 
    font-style: italic;
    letter-spacing: 0.03em;
  }
}

@media (max-width: 768px) {
  #wrap {
    width: 100%;
  }
  .span12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  img.mid { margin-top: 20%; }
  .pull-right {
    .margin-top { margin-top: 20% }
    img { margin-top: 20%; }
    }
  }


